
/* CARDS MAIS RECENTES */
.acessados {
    margin: 60px auto;
    padding: 0 20px;
}

.acessados .topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.acessados h2 {
    font-size: 28px;
    color: var(--cor-texto);
}

.acessados .filtro button {
    margin-left: 20px;
    color: var(--cor-texto);
    text-decoration: none;
    background: none;
    border: none;
    font-family: var(--ff-texto);
    font-size: var(--fs-texto);
    position: relative;
    cursor: pointer;
    
}

.acessados .filtro button.ativo {
    color: var(--cor-primaria);
    font-weight: 600;
    border-bottom: 1px solid var(--cor-primaria);
}

.acessados .filtro button.ativo::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--cor-primaria);
    left: 0;
    bottom: -5px;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    padding-top: 40px;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

.card {
    background-color: var(--cor-fundo);
    border: 1px solid  var(--cor-primaria);
    border-radius: 16px;
    width: 250px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    transition: transform 0.3s;
    flex-wrap: nowrap;
    min-width: 250px;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 16px 16px 0 0;
    height: 190px;
}

.card .conteudo {
    padding: 15px;
}

.card h3 {
    font-size: 15px;
    color: var(--cor-texto);
    font-family: var(--ff-subtitulo);
    margin-bottom: 5px;
    font-weight: bold;
    
}

.card .fonte {
    color: var(--cor-primaria);
    font-weight: bold;
    margin-bottom: 8px;
    font-family: var(--ff-texto);
    font-size: var(--fs-texto);
}

.card .descricao {
    font-size: 14px;
    color: var(--cor-texto);
    margin-bottom: 15px;
}

.card .botao {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    color: white;
    padding: 6px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
    
}

.card .botao:hover {
    background-color: rgb(50, 89, 134);
}

.recentes {
    margin: 100px auto;
    padding: 0 20px;
}

.recentes .topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.recentes h2 {
    font-size: 28px;
    color: var(--cor-texto);
}

.recentes .filtro button {
    margin-left: 20px;
    color: var(--cor-texto);
    text-decoration: none;
    background: none;
    border: none;
    font-family: var(--ff-texto);
    font-size: var(--fs-texto);
    position: relative;
    cursor: pointer;
    
}

.recentes .filtro button.ativo {
    color: var(--cor-primaria);
    font-weight: 600;
    border-bottom: 1px solid var(--cor-primaria);
}

.recentes .filtro button.ativo::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--cor-primaria);
    left: 0;
    bottom: -5px;
}

.topicos {
    margin: 60px auto;
    padding: 0 20px;
}

.topicos h2 {
    color: var(--cor-texto);
    font-size: var(--fs-subtitulo);
    font-family: var(--ff-subtitulo);
    margin-bottom: 20px;
    
}

.topicos .conteudo {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.botoes-topicos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    
}

.botoes-topicos button {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 24px;
    background-color: var(--cor-fundo);
    border: 1px solid var(--cor-primaria);
    border-radius: 16px;
    transition: 0.3s;
    color: var(--cor-texto);
    font-size: var(--fs-texto);
    font-family: var(--ff-texto);
    cursor: pointer;
    
}

.botoes-topicos button span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
}


.botoes-topicos button:hover {
    background-color: var(--cor-primaria);
    color: white;
    border: 1px solid black
}

.botoes-topicos button:hover span {
    background-color: white;
    color: var(--cor-texto);
}

.card-topicos {
    display: flex;
    gap: 20px;
    background-color: var(--cor-fundo);
    border: 1px solid var(--cor-primaria);
    border-radius: 16px;
    padding: 20px;
    max-width: 500px;
    align-items: center;
    min-height: 305px;
}

.card-topicos .titulo {
    flex: 1;
}

.card-topicos h3 {
    font-size: 18px;
    margin-bottom: 6px;
    color: var(--cor-texto);
    font-family: var(--ff-texto);
}

.card-topicos .fonte {
    color: var(--cor-primaria);
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
}

.card-topicos .descricao {
    color: var(--cor-texto);
    font-size: 14px;
    margin-bottom: 12px;
}

.card-topicos .botao {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    color: white;
    padding: 6px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
    font-weight: 400;
}

.card-topicos .botao:hover {
    background-color: rgb(50, 89, 134)
}

.card-topicos .imagem img {
    width: 140px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.banner {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto 5rem auto;
  max-height: 500px;
}

.banner .banner_img {
    max-height: 550px;
   
}

.card-canal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-canal {
    background-color: var(--cor-fundo);
    border: 1px solid var(--cor-primaria);
    border-radius: 16px;
    width: 250px;
    height: 300px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    transition: transform 0.3s;
    overflow: hidden;
}

.card-canal:hover {
    transform: translateY(-5px);
}

.card-canal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nome-canal {
    text-align: center;
    margin-top: 8px;
    color: var(--cor-primaria);
    font-weight: bold;
    font-family: var(--ff-texto);
    font-size: var(--fs-texto);
}

